rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() { return request.auth != null; }

    // Store under /users/{uid}/...
    match /users/{uid}/{allPaths=**} {
      allow read: if isSignedIn() && request.auth.uid == uid;
      allow write: if isSignedIn() && request.auth.uid == uid;
    }

    // Block all else
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
